body{
    background-image: url(./img/phon.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
}
.wrapper{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    min-height: 100vh;
}
.block-gray{
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
}
header{
    position: relative;
    text-align: center;
    width: 100%;
    height:120px;
    --tw-text-opacity: 1;
    color: rgb(255 255 255/var(--tw-text-opacity));
    font-size: 1rem;
    background-color: rgba(0, 0, 0, 0.7);
    font-family: Russo One,sans-serif;
    font-weight: 700;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.7);
}
.text{
    font-family: Russo One,sans-serif;
    color: #fff;
    font-size: 3rem;
    margin-top: 1%;
    min-height: 16vh;
    font-weight: bolder;
    border: 0 solid #e5e7eb;
    box-sizing: border-box;
}
.home {
    color: rgb(148 163 184/var(--tw-text-opacity));
    margin: 1.3% .5% .5%;
    position: absolute;
    left: 0%;
    transition-duration: .15s;
    transition-property: all;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    width: 5rem;
    z-index: 100;
}
.flex-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 2%;
}

.slider-wrapper {
    max-width: 800px;
    width: 100%;
    height: 490px;
    position: relative;
    box-shadow: 10px 10px 44px -10px rgba(0,0,0,0.75);
}

#btn-prev, #btn-next {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 50px;
    background-color: rgba(0,0,0,0.55);
    cursor: pointer;
    transition: opacity .2s ease-in-out;
}

#btn-prev:hover, #btn-next:hover {
    opacity: 0.6;
}


#btn-next {
    left: auto;
    right: 0;
}

.slide {
    width: 100%;
    height: 100%;
    display: none;
}

.slide.active {
    display: block;
}

img {
    width: 100%;
    height: 100%;
    padding: auto;
}
@media only screen and (max-width : 480px) {
    .home{
        width: 10%;
    }
    .text{
        font-size: 25px;
        margin-top: 10%;
    }
    .slider-wrapper{
        height: 300px;
    }
}

