/* *{
    margin-top: 0;
    margin-left: 0;
} */
body{
    background-image: url(./img/photo_2023-01-22_15-50-29.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}
.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;
}
.block-scroll{
    width: 50px;
    height: 50px;
    background-color: rgba(0,0,0,0.75);
    border-radius: 100%;
    position: fixed;
    margin-top: 45%;
    margin-left: 92%;
    transform: rotate(270deg);
    font-size: 35px;
    text-align: center;
    color: white;
    cursor: pointer;
}
header{
    position: relative;
    text-align: center;
    width: 100%;
    height:150px;
    --tw-text-opacity: 1;
    color: rgb(255 255 255/var(--tw-text-opacity));
    font-size: 1rem;
    background-color: rgba(0, 0, 0, 0.7);
    font-family: Russo One,sans-serif;
    font-weight: 700;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.7);
}
.text{
    font-family: Russo One,sans-serif;
    color: #fff;
    font-size: 3rem;
    margin-top: 1%;
    min-height: 16vh;
    font-weight: bolder;
    border: 0 solid #e5e7eb;
    box-sizing: border-box;
}
.home {
    color: rgb(148 163 184/var(--tw-text-opacity));
    margin: 1.3% .5% .5%;
    position: absolute;
    left: 0%;
    transition-duration: .15s;
    transition-property: all;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    width: 5rem;
    z-index: 100;
}
.container{
    margin: auto;
    width: 70%;
    margin-top: 2%;
    height: 10200px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 3%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
}


.txt-pam{
    width: 90%;
    text-indent: 50px;
    margin-left: 5%;
    margin-top: 5%;
    color: white;
    font-size: 22px;
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
    text-align: justify;
}
.txt-pam2{
    width: 90%;
    text-indent: 50px;
    margin-left: 5%;
    color: white;
    font-size: 22px;
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
    text-align: justify;
}
.block-accordion{
    margin-top: 1%;
}
.accordion {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 15px;
    background-color: #eee;
    margin-left: 5%;
    margin-top: 1%;
    border-radius: 5px;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 90%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
    background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    font-size: 15px;
    padding: 0 18px;
    width: 86.55%;
    margin-left: 5%;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
p{
    text-indent: 25px;
    text-align: justify ;
    font-size: 20px;
    width: 900px;
    margin-left: 1%;
}
.block-strong-txt{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    font-size: 25px;
    color: white;
    text-align: center;
    margin-top: 3%;
}
hr{
    width: 70%;
    margin-top: 2%;
}


.flex-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 2%;
}

.slider-wrapper {
    max-width: 800px;
    width: 100%;
    height: 490px;
    position: relative;
    box-shadow: 10px 10px 44px -10px rgba(0,0,0,0.75);
}

#btn-prev, #btn-next {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 50px;
    background-color: gray;
    opacity: 0.4;
    cursor: pointer;
    transition: opacity .2s ease-in-out;
}

#btn-prev:hover, #btn-next:hover {
    opacity: 0.6;
}


#btn-next {
    left: auto;
    right: 0;
}

.slide {
    width: 100%;
    height: 100%;
    display: none;
}

.slide.active {
    display: block;
}

.img-slide {
    width: 100%;
    height: 100%;
}

.dots-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.dot.active {
    background-color: #000000;
}

span {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: gray; 
    margin-right: 10px;
    cursor: pointer;
}
span:last-child{
    margin-right: 0;
}

@media only screen and (max-width : 480px) {
    .text{
        font-size: 20px;
        margin-top: 10%;
    }
    header{
        height: 100px;
    }
    .home{
        width: 40px;
    }
    .block-scroll{
        display: none;
    }
    .container{
        width: 95%;
    }
    .slider-wrapper{
        height: 320px;
    }
    p{
        font-size: 15px;
        width: 100%;
    }
}