body{
    background-image: url(./img/Background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}
.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;
}
header{
    position: relative;
    text-align: center;
    width: 100%;
    height:155px;
    --tw-text-opacity: 1;
    color: rgb(255 255 255/var(--tw-text-opacity));
    font-size: 1rem;
    background-color: rgba(0, 0, 0, 0.7);
    font-family: Russo One,sans-serif;
    font-weight: 700;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.7);
}
.text{
    font-family: Russo One,sans-serif;
    color: #fff;
    font-size: 3rem;
    margin-top: 1%;
    min-height: 16vh;
    font-weight: bolder;
    border: 0 solid #e5e7eb;
    box-sizing: border-box;
}
.home {
    color: rgb(148 163 184/var(--tw-text-opacity));
    margin: 1.3% .5% .5%;
    position: absolute;
    left: 0%;
    transition-duration: .15s;
    transition-property: all;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    width: 5rem;
    z-index: 100;
}
.container{
    margin: auto;
    width: 70%;
    height: 3000px;
    background-color: rgba(0, 0, 0, 0.7);
    margin-top: 2%;
    border-radius: 20px;
}
.block-scroll{
    width: 50px;
    height: 50px;
    background-color: rgba(0,0,0,0.75);
    border-radius: 100%;
    position: fixed;
    margin-top: 45%;
    transform: rotate(270deg);
    margin-left: 92%;
    font-size: 35px;
    text-align: center;
    color: white;
    cursor: pointer;
}
hr{
    width: 70%;
    margin-top: 2%;
}
.block-txt-right{
    color: white;
    font-size: 22px;
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
    width: 40%;
    text-align: justify;
    margin-top: 4%;
    margin-left: 62%;
}
.block-txt{
    color: white;
    font-size: 22px;
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
    text-align: justify;
    margin-left: 10%;
    margin-top: 5%; 
    width: 80%;
    
}
p{
    text-indent: 50px;
    margin: auto;
}
img{
    width: 50%;
    padding: 15px 15px 15px 15px;

}
@media only screen and (max-width : 480px) {
    .home{
        width: 10%;
    }
    .text{
        font-size: 20px;
    }
    header{
        height: 70px;
    }
    .block-scroll{
        display: none;
    }
    .container{
        width: 100%;
        height: 10000px;
    }
    .block-txt-right{
        width: 50%;
        margin-left: 45%;
        font-size: 20px;
    }
    
}